extends html

block main
  .main-contents
    include includes/breadcrumbs

    if permalink.split('_').reverse()[0] !== 'end'
      .post
        .section
          if quote
            blockquote!= quote
          if intro
            header.post-header.question
              h1.post-title!= intro
          if description
            header.post-header.question
              h1.post-title!= description
          if list
            article.post-content.answers        
              != list
          .previous
            a(href='javascript:window.history.back();')#previousbutton &#x25c2; Previous Question
    else
      .post.end
        != contents
        .bottom-tips
          .pure-g
            .pure-u-1-1.cols
              .pure-u-2.pure-u-md-2-3
                .tips
                  h2 More Tips
                  != tips
              .pure-u-1.pure-u-md-1-3
                .resources
                  h2 Resources
                  != resources


  include includes/links
