//- .header
//-   .home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
//-     a.pure-menu-heading(href=site.baseurl + '/')= site.title
//-     ul.pure-menu-list
//-       li.pure-menu-item.pure-menu-selected
//-         a.pure-menu-link(href=site.baseurl + '/support/') Find Support
//-       li.pure-menu-item
//-         a.pure-menu-link(href=site.baseurl + '/about/') About
//-       li.pure-menu-item
//-         a.pure-menu-link(href=site.baseurl + '/self-care/') Self-Care
//-       li.pure-menu-item
//-         a.pure-menu-link(href=site.baseurl + '/arrested/') Someone has been arrested

//- .full-width.custom-wrapper
#menu.pure-g.custom-wrapper
  .pure-u-1.pure-u-md-1-3
    .pure-menu
      a.pure-menu-heading.custom-brand(href=site.baseurl + '/', alt=site.title)
        img(src=site.baseurl + '/images/logo.svg', height=42) 
      a#toggle.custom-toggle(href='#')
        s.bar
        s.bar
  .pure-u-1.pure-u-md-2-3
    .pure-menu.pure-menu-horizontal.custom-menu-3.custom-can-transform
      ul.pure-menu-list
        li.pure-menu-item
          a.pure-menu-link(href=site.baseurl + '/' + language + '/support/') Find Support
        li.pure-menu-item
          a.pure-menu-link(href=site.baseurl + '/' + language + '/about/') About
        li.pure-menu-item
          a.pure-menu-link(href=site.baseurl + '/' + language + '/self-care/') Self Care
        li.pure-menu-item.pure-menu-has-children.pure-menu-allow-hover
          a#menuLink1.pure-menu-link(href=site.baseurl + '/en/') [en]
          ul.pure-menu-children
            li.pure-menu-item
              a.pure-menu-link(href=site.baseurl + '/de/') [de]
            li.pure-menu-item
              a.pure-menu-link(href=site.baseurl + '/fr/') [fr]
            li.pure-menu-item
              a.pure-menu-link(href=site.baseurl + '/es/') [es]
            li.pure-menu-item
              a.pure-menu-link(href=site.baseurl + '/nl/') [nl]
            li.pure-menu-item
              a.pure-menu-link(href=site.baseurl + '/ru/') [ru]

//- 
//- header.site-header
//-   .wrapper
//-     a.site-title(href=site.baseurl + '/')= site.title
//-     nav.site-nav
//-       a.menu-icon(href='#')
//-         svg(viewBox='0 0 18 15')
//-           path(fill='#424242', d='M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z')
//-           path(fill='#424242', d='M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z')
//-           path(fill='#424242', d='M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z')
//-       .trigger
//-         a(href=site.baseurl + '/de/') [de]
//-         //
//-           <a href="{{site.baseurl}}/de/SichereKommunikation" alt="Secure Communication">Sichere Kommunikation</a>
//-           <a href="{{site.baseurl}}/de/Konto-Diebstahl" alt="Account Hijacking">Konto-Diebstahl</a>
//-           <a href="{{site.baseurl}}/de/Geratverloren" alt="Devices Seized">Gerät verloren</a>
//-           <a href="{{site.baseurl}}/de/Schadprogramme" alt="Malware">Schadprogramme</a>
//-           <a href="{{site.baseurl}}/de/DDoSEindammung/" alt="DDoS Mitigation">DDoS Eindämmung</a>
//-           <a href="{{site.baseurl}}/de/Glossar" alt="Glossary">Glossar</a>
//-           <a href="{{site.baseurl}}/de/Referenz" alt="Resources">Referenz</a>
//-         a(href=site.baseurl + '/en/') [en]
//-         //
//-           <a href="{{site.baseurl}}/en/SecureCommunication" alt="Secure Communication"> </a>
//-           <a href="{{site.baseurl}}/en/AccountHijacking" alt="Account Hijacking"> </a>
//-           <a href="{{site.baseurl}}/en/DevicesSeized" alt="Devices Seized"> </a>
//-           <a href="{{site.baseurl}}/en/Malware" alt="Malware"> </a>
//-           <a href="{{site.baseurl}}/en/DDoSMitigation" alt="DDoS Mitigation"> </a>
//-           <a href="{{site.baseurl}}/en/Glossary" alt="Glossary"> </a>
//-           <a href="{{site.baseurl}}/en/Resources" alt="Resources"> </a>
//-         a(href=site.baseurl + '/es/') [es]
//-         //
//-           <a href="{{site.baseurl}}/es/ComunicacionesSeguras" alt="Secure Communication">Comunicaciones Seguras</a>
//-           <a href="{{site.baseurl}}/es/HackeodeCuentas" alt="Account Hijacking">Hackeo de Cuentas</a>
//-           <a href="{{site.baseurl}}/es/DispositivosIncautados" alt="Devices Seized">Dispositivos Incautados</a>
//-           <a href="{{site.baseurl}}/es/Malware" alt="Malware">Malware</a>
//-           <a href="{{site.baseurl}}/es/MitigacionDDoS" alt="DDoS Mitigation">Mitigación DDoS</a>
//-           <a href="{{site.baseurl}}/es/Glosario" alt="Glossary">Glosario</a>
//-           <a href="{{site.baseurl}}/es/Referencias" alt="Resources">Referencias</a>
//-         a(href=site.baseurl + '/fr/') [fr]
//-         //
//-           <a href="{{site.baseurl}}/fr/" alt="Secure Communication"> </a>
//-           <a href="{{site.baseurl}}/fr/" alt="Account Hijacking"> </a>
//-           <a href="{{site.baseurl}}/fr/" alt="Devices Seized"> </a>
//-           <a href="{{site.baseurl}}/fr/" alt="Malware"> </a>
//-           <a href="{{site.baseurl}}/fr/" alt="DDoS Mitigation"> </a>
//-           <a href="{{site.baseurl}}/fr/" alt="Glossary"> </a>
//-           <a href="{{site.baseurl}}/fr/" alt="Resources"> </a>
//-         a(href=site.baseurl + '/ru/') [ru]
//-         //
//-           <a href="{{site.baseurl}}/ru/" alt="Secure Communication"> </a>
//-           <a href="{{site.baseurl}}/ru/" alt="Account Hijacking"> </a>
//-           <a href="{{site.baseurl}}/ru/" alt="Devices Seized"> </a>
//-           <a href="{{site.baseurl}}/ru/" alt="Malware"> </a>
//-           <a href="{{site.baseurl}}/ru/" alt="DDoS Mitigation"> </a>
//-           <a href="{{site.baseurl}}/ru/" alt="Glossary"> </a>
//-           <a href="{{site.baseurl}}/ru/" alt="Resources"> </a>
//-         a(href=site.baseurl + '/nl/') [nl]
//-         //
//-           <a href="{{site.baseurl}}/nl/" alt="Veilige communicatie"> </a>
//-           <a href="{{site.baseurl}}/nl/" alt="Antwoorden op DDoS aanvallen"> </a>
